<!-- why us section -->

<section
  class="why_us_section layout_padding shadow-sm p-3 mb-5 bg-body rounded"
>
  <div class="container mb-3">
    <div class="row slider_section">
      <div class="col-md-12">
        <div class="detail-box">
          <h1 class="text-center">{{ "whyUs.whyUsTitle" | translate }}</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="box">
          <div class="img-box">
            <img src="../../../../assets/branding/images/w1.png" alt="" />
          </div>
          <div class="detail-box">
            <h5>{{ "whyUs.fastDelivery" | translate }}</h5>
            <p>{{ "whyUs.fastDeliveryDescription" | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="img-box">
            <img src="../../../../assets/branding/images/w2.png" alt="" />
          </div>
          <div class="detail-box">
            <h5>{{ "whyUs.freeShiping" | translate }}</h5>
            <p>{{ "whyUs.freeShipingDescription" | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box">
          <div class="img-box">
            <img src="../../../../assets/branding/images/w3.png" alt="" />
          </div>
          <div class="detail-box">
            <h5>{{ "whyUs.bestQuality" | translate }}</h5>
            <p>{{ "whyUs.bestQualityDescription" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
